.parallax-wrapper{
    width: 100%;
    height: 320px;
    overflow: hidden;
    background-color: rgb(184, 184, 184);
    position: relative;
}

.shadows{
    position: relative;
    pointer-events: none;
    width: 100%;
    z-index: 199;
    height: 100%;

    &::before{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 20px;
        background: #000740;
        background: linear-gradient(180deg,rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
    }

    &::after{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 20px;
        background: #000740;
        background: linear-gradient(0deg,rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
    }
}

.image-container{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 101;
    top: 0px;
    left: 0px;
}

.parallax-image {
  width: 100%;
  height: 120%; 
  object-fit: cover;
  position: absolute;
  z-index: 101;
  top: -10%; 
  left: 0px;
}