@use "../../styles/index.scss" as *;

.flow{
    display: flex;
    align-items: center;

    h3{
        color: $grey-600; 
        font-weight: 800;
    }

    icon{
        font-size: 2rem;
        margin-left: -8px;
        margin-right: 1rem;
        color: $orange-400;
    }
}