
@font-face {
  font-family: 'RedditSans';              
  src: url('../../public/assets/fonts/RedditSans-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 100 900;                
  font-style: normal;         
}

$font-set-one: 'RedditSans';
