@use "./index.scss" as *;

html, body {
    font-family: $font-set-one;
    margin: 0px;
    height: 100%;

}

h2{
    color: $grey-600;
    font-weight: 800;
    font-size: 2.75rem;
    margin-block-start: 4rem;
    margin-block-end: 0.5em;
}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;

    li{
        margin: 1.3ch;
        color:  $grey-600;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 2.6ch;
    }
}

code{
    color: white;
    box-sizing: border-box;
    padding: 4px 4px;
    margin: 0px 2px;
    border-radius: 4px;
    background-color: $orange-light-400;
    box-sizing: border-box;
}

pre{
    padding: 24px 12px 8px 12px;
    background-color: $grey-100;
}


p{
    margin-block-start: 0.6ch;
    margin-block-end: 0.6ch;
    color: $grey-600;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 2.6ch;
}

.highlight-box{
    margin: 32px 0px;
    width: 100%;
    background-color: $orange-100;
    border-radius: 24px;
    padding: 32px 24px;
    box-sizing: border-box;
    border: 1px solid $orange-200;
    max-width: min(1024px, 75%);

    h1{
        color: $orange-600;
        font-size: 1rem;
        font-weight: 800;
        text-transform: uppercase;
    }

    h2{
        margin: 0rem 0px 0.25rem 0px;
        font-size: 2.75rem;
        font-weight: 800;
        color: $grey-600;
    }   

    p{
        color: $grey-600;
    }

}
