@use "./index.scss" as *;

html, body {
    font-family: $font-set-one;
    margin: 0px;
    height: 100%;

}

h2{
    margin-top: 64px;
}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;

    li{
        margin: 1.3ch;
    }
}

code{
    color: white;
    box-sizing: border-box;
    padding: 4px 4px;
    margin: 0px 2px;
    border-radius: 4px;
    background-color: #606060;
    box-sizing: border-box;
}

pre{
    padding: 24px 12px 8px 12px;
    background-color: #f4f4f4;
}

