$orange-600 : #bb3906;
$orange-500 : #d04e11;
$orange-400 : #f06807;
$orange-300 : #F5BA8D;
$orange-200 : #FFD7B0;
$orange-100 : #FDF2E6;

$orange-light-400 : #e2894e;

$grey-700: #221F1D;
$grey-600: #3f3d3a;
$grey-500: #6A6762;
$grey-400: #97918b;
$grey-300: #bebbb8;
$grey-200: #f4f2f2;
$grey-100: #FEFEFE;

