.block{
    height: 100vh;
}

.text-wrapper{
    box-sizing: border-box;
    padding: 124px 0px;
    color: white;
    h1{
        text-align: center;
        font-size: 5rem;
        text-shadow: 1px 2px 2px rgb(0, 2, 73);
        margin: 0;
    }
    p{
        text-align: center;
        color: white;
        font-weight: 400;
        text-shadow: 1px 1px 2px rgb(0, 2, 73);
    }
}
parallax .parallax-wrappe{
    background-color:#6096F7;
}