@use "./../../styles/variable.scss" as *;
 

body,html{
    height: 100%;
    margin: 0px;
}

:host{
    --max-width: 1920px;
}

.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    background-color: $orange-100;
}

.container-wrapper{
width: 100%;
height: 100%;
max-width:var(--max-width);
display: flex;
flex-wrap: nowrap;
background-color: $grey-200;
}

content{
    width: 100%;
    height: 100%;
    display: flex;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0px 2rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 96px;
    position: relative;
}

